<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BroadcastingCollections.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08539F7F20A2D9A300B80671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0890847D1EC836930018FEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0890848E1EC836940018FEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
